<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <property name="APP_NAME" value="cake-devops-base"/>
    <!--    <property name="log.path" value="${logging.file.path}"/>-->
    <property name="ENCODING" value="UTF-8"/>
    <springProperty scope="context" name="log.path" source="logging.file.path"
                    defaultValue="/home/admin/cake-devops/logs"/>

    <springProperty scope="context" name="rabbitmq-address" source="spring.rabbitmq.addresses"
                    defaultValue="127.0.0.1:5672"/>
    <springProperty scope="context" name="rabbitmq-username" source="spring.rabbitmq.username" defaultValue="guest"/>
    <springProperty scope="context" name="rabbitmq-password" source="spring.rabbitmq.password" defaultValue="guest"/>
    <springProperty scope="context" name="rabbitmq-virtual-host" source="spring.rabbitmq.virtualHost" defaultValue="/"/>
    <springProperty scope="context" name="exchange-name" source="devops.log.exchangeName"
                    defaultValue="default-exchange"/>
    <springProperty scope="context" name="binding-key" source="devops.log.bindingKey" defaultValue="default-routing"/>


    <!-- SLS 相关配置 -->
    <springProperty scope="context" name="sls-project" source="devops.sls.project" defaultValue="cake-devops-log"/>
    <springProperty scope="context" name="sls-logstore" source="devops.sls.logstore" defaultValue="deploy-log"/>
    <springProperty scope="context" name="sls-endpoint" source="devops.sls.endpoint"
                    defaultValue="http://cn-hangzhou.log.aliyuncs.com"/>
    <springProperty scope="context" name="sls-access-key-id" source="devops.sls.accessKeyId"
                    defaultValue="your-access-key-id"/>
    <springProperty scope="context" name="sls-access-key-secret" source="devops.sls.accessKeySecret"
                    defaultValue="your-access-key-secret"/>


    <property name="CONSOLE_LOG_PATTERN"
              value="%yellow(%date{yyyy-MM-dd HH:mm:ss})|%X{traceId}|%highlight([%-5level])|%green(%logger)|%msg%n"/>

    <property name="FILE_LOG_PATTERN"
              value="%date{yyyy-MM-dd HH:mm:ss}|%X{traceId}|[%-5level]|%thread|%file:%line|%logger|%msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${ENCODING}</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--  要区别于其他的appender中的文件名字  -->
        <file>${log.path}/application.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${ENCODING}</charset>
        </encoder>
        <!-- 设置滚动日志记录的滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志归档路径以及格式 -->
            <fileNamePattern>${log.path}/info/application-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--归档日志文件保留的最大数量-->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
    </appender>


    <appender name="RABBITMQ" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <layout>
            <pattern>[%X{__pipe_key__}] - %d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</pattern>
        </layout>
        <!--rabbitmq地址 -->
        <addresses>${rabbitmq-address}</addresses>
        <username>${rabbitmq-username}</username>
        <password>${rabbitmq-password}</password>
        <virtualHost>${rabbitmq-virtual-host}</virtualHost>

        <declareExchange>false</declareExchange>
        <exchangeType>direct</exchangeType>
        <exchangeName>${exchange-name}</exchangeName>
        <routingKeyPattern>${binding-key}</routingKeyPattern>
        <generateId>true</generateId>
        <charset>UTF-8</charset>
        <durable>true</durable>
        <deliveryMode>NON_PERSISTENT</deliveryMode>
    </appender>

    <!--为了防止进程退出时，内存中的数据丢失，请加上此选项-->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <!-- 新增 SLS Appender -->
    <appender name="SLS" class="com.aliyun.openservices.log.logback.LoghubAppender">
        <!--必选项-->
        <!-- 账号及网络配置 -->
        <endpoint>cn-hangzhou.log.aliyuncs.com</endpoint>
        <accessKeyId>${sls-access-key-id}</accessKeyId>
        <accessKeySecret>${sls-access-key-secret}</accessKeySecret>

        <!-- sls 项目配置 -->
        <project>${sls-project}</project>
        <logStore>${sls-logstore}</logStore>
        <!--必选项 (end)-->

        <!-- 可选项 详见 '参数说明'-->
        <totalSizeInBytes>104857600</totalSizeInBytes>
        <maxBlockMs>60000</maxBlockMs>
        <ioThreadCount>8</ioThreadCount>
        <batchSizeThresholdInBytes>524288</batchSizeThresholdInBytes>
        <batchCountThreshold>4096</batchCountThreshold>
        <lingerMs>2000</lingerMs>
        <retries>10</retries>
        <baseRetryBackoffMs>100</baseRetryBackoffMs>
        <maxRetryBackoffMs>100</maxRetryBackoffMs>
        <mdcFields>__pipe_key__</mdcFields>
    </appender>

    <springProfile name="dev,test,pre,prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
        <logger name="RabbitMq" level="debug">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="RABBITMQ"/>
            <appender-ref ref="SLS"/>
        </logger>
    </springProfile>
</configuration>